
body {
  padding: unset;
  margin: unset;
}

:root {
  --main-Color: #9674da;
}

html {
}

body {
  margin: 0;
  font-family: monospace;
  letter-spacing: normal
}

button {
  letter-spacing: normal !important;
}

::ng-deep.cdk-overlay-pane.mat-mdc-dialog-panel  {
 max-width: unset !important;
}
